<!doctype html>
<html>
<head>
  <title>DEW MUD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>

  <!-- [START gae_flex_websockets_form] -->
  <form id="chat-form">
    <textarea id="chat-text" placeholder="Enter some text..."></textarea>
    <button type="submit">Send</button>
  </form>

  <div>
    <p>Messages:</p>
    <ul id="chat-response"></ul>
  </div>

  <div>
    <p>Status:</p>
    <ul id="chat-status"></ul>
  </div>
  <!-- [END gae_flex_websockets_form] -->

</body>
</html>
